.image-gallery-container {
    position: relative;
    display: inline-block;
}

.image-gallery-img {
    position: relative;
    display: inline-block;
    height: 200px;
    padding-right: 5px;
    padding-bottom: 5px;
}