<label>From</label>
<p class="input-group">
  <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" min-date="minDate" max-date="endDate || today"
  ng-model="startDate" is-open="startOpened" datepicker-options="dateOptions" show-button-bar="false"/>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="startOpen($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span> 
</p>
<label>To</label>
<p class="input-group">
  <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" min-date="startDate || minDate" max-date="today"
  ng-model="endDate" is-open="endOpened" datepicker-options="dateOptions" show-button-bar="false"/>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="endOpen($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span> 
</p> 