<div class="row hidden debug" ng-repeat="field in euiConfigs.debugFields.fields">
  <span ng-if="$eval(field)">{{field}}: {{$eval(field)}}</span>
</div>
<div class="row">
  <div class="col-md-5 col-lg-4 text-center">
    <span ng-if="doc._source.hasImagePart">
      <div class="image-with-caption">
        <img blurred-image class="image-expanded center-block" ng-src="{{getDisplayImageSrc(doc)}}">
        <div ng-if="facets.simFilter" class="caption image-search-caption" ng-click="imageSearch(getDisplayImageSrc(doc))">
          <div class="caption-background"></div>
          <div class="caption-text"><i class="fa fa-search"></i> Find similar</div>
        </div>
      </div>
    </span>
  </div>
  
  <div class="col-md-7 col-lg-8">
    <h4>URL</h4>
    <a href="{{doc._source.url}}" target="_blank">{{doc._source.url || "N/A"}}</a>
    <div class="row">
      <div class="col-sm-6" ng-repeat="section in euiConfigs.listFields['full']">
        <dl class="{{section.classes}}">
           <dt ng-repeat-start="field in section.fields">{{field.title}}</dt>
           <dd ng-if="$eval(field.field)">{{$eval(field.field)}}</dd>
           <dd ng-if="$eval(field.featureArray + '.length')"
             ng-repeat="item in $eval(field.featureArray)">{{$eval('item.' + field.featureValue)}}</dd>
           <span ng-repeat-end></span>
        </dl>
      </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="viewDetails(doc, parentState)" target="_self">View Details</button>
  </div>
</div>
