node_modules
public
.tmp
.idea
client/bower_components
dist*
/server/config/local.env.js
.vagrant
*.sublime-workspace
/*.sublime-project
npm-debug*
coverage
*.sqlite
.DS_Store
.DS_Store?
*.log
*.tar
*.tar.gz
*~
*.orig
*.rej
conf
**/dig_deploy.sh

