{{filterStates[field]}}
<div eui-aggregation="ejs.StatsAggregation(aggregationName).field(field)" eui-filter-self="false">
  <div eui-filter="ejs.RangeFilter(field).gte(filterStates[field].begin)" eui-enabled="filterStates[field].begin"></div>
  <div eui-filter="ejs.RangeFilter(field).lte(filterStates[field].end)" eui-enabled="filterStates[field].end"></div>
  <div class="row">
    <div class="col-xs-12">
      <span ng-if="aggResult">   
        <div class="range-filter">
          <label>{{title}}</label>   
          <numerical-range begin="filterStates[field].begin" end="filterStates[field].end" min="aggResult.min" max="aggResult.max">
          </numerical-range>
        </div>
      </span>
    </div>
  </div>
</div> 
<br/>
