<span ng-if="offerFields['full']">
  <div class="row">
    <div class="col-md-5 col-lg-4 text-center">
      <span ng-if="doc._source.hasImagePart">
        <div class="image-with-caption">
          <img blurred-image class="image-expanded center-block" ng-src="{{getDisplayImageSrc(doc)}}">
          <div ng-if="facets.simFilter" class="caption image-search-caption" ng-click="imageSearch(getDisplayImageSrc(doc))">
            <div class="caption-background"></div>
            <div class="caption-text"><i class="fa fa-search"></i> Find similar</div>
          </div>
        </div>
      </span>
    </div>
    
    <div class="col-md-7 col-lg-8">
      <h4>URL</h4>
      <a href="{{doc._source.url}}" target="_blank">{{doc._source.url || "N/A"}}</a>
      <div class="row">
         <div class="col-sm-12" ng-repeat="sparkline in offerFields.sparklines">
            <sparkline doc="doc" label="sparkline.label" variable-path="sparkline.variablePath" query="sparkline.query"
              aggregation-name="sparkline.aggName" count-field="sparkline.countField" 
              graph-type="{{sparkline.graphType}}"></sparkline>
          </div>
        <div class="col-sm-6" ng-repeat="section in offerFields['full']">
          <display-desc-list doc="doc" section="section"></display-desc-list>
        </div>
        <div class="col-sm-12">
          <display-desc-list doc="doc" section="offerFields.body"></display-desc-list>
        </div>
      </div>
      <button ng-if="euiConfigs.detailFields" type="button" class="btn btn-primary" ng-click="viewDetails(doc, parentState)" target="_self">
        View Details
      </button>
    </div>
  </div>
</span>