<dl class="{{section.classes}}">
  <dt ng-repeat-start="field in section.fields" ng-if='!field.hideIfMissing || $eval(field.field) || $eval(field.featureArray)'>{{field.title}}</dt>
  <dd ng-if="$eval(field.field)">
    <span ng-if="!field.featureValues">
      <span ng-bind-html="stripOtherHtmlTags($eval(field.field))"></span>
    </span>
    <span ng-if="field.featureValues" ng-repeat="value in field.featureValues">
      <span ng-bind-html="stripOtherHtmlTags($eval(field.field + '.' + value))"></span>
    </span>
  </dd>
  <dd ng-if="$eval(field.featureArray + '.length')"
   ng-repeat="item in $eval(field.featureArray) track by $index">
    <span ng-if="field.featureValue" 
      ng-bind-html="highlightCheck($eval('item.' + field.featureValue), $eval(field.highlightArray))">
    </span>
    <span ng-if="!field.featureValue && !field.featureValues" 
      ng-bind-html="highlightCheck(item, $eval(field.highlightArray))">
    </span>
    <span ng-if="field.featureValues" ng-repeat="value in field.featureValues">
      <span ng-bind-html="highlightCheck($eval('item.' + value), $eval(field.highlightArray))"></span>
    </span>
  </dd>
  <span ng-repeat-end></span>
</dl>