<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img src="/assets/images/dig-logo-40pxh.png" alt="">
      </div>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}" ng-if="!item.reload">
                {{item.title}} <span class="{{item.icon}}"></span>
            </a>
            <a ng-href="{{item.link}}" target="_self" ng-if="item.reload">
                {{item.title}} <span class="{{item.icon}}"></span> 
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-href="#" class="dropdown-toggle" id="newNotifications" data-toggle="dropdown" aria-expanded="false"> 
            Notifications <i class="fa fa-inbox lg"></i>
            <span ng-if="notificationCount.notRunCount > 0" class="navbar-notification">
              {{notificationCount.notRunCount}}
            </span>
          </a>
          <ul class="dropdown-menu" role="newNotifications" aria-labelledby="newNotifications">
            <li ng-if="notificationCount.notRunCount > 0">
              <span class="notifications-menu-item">New Notifications</span>
            </li>
            <li ng-show="notificationCount.notRunCount === 0" role="no-new-notifications">
              <span class="notifications-menu-item">There are no new notifications</span>
            </li>
            <li ng-show="notificationCount.notRunCount > 0" class="divider"></li>
            <li ng-repeat-start="query in queriesWithNotifications">
              <span class="notifications-menu-item"> 
                {{query.name}}
                <span class="pull-right">
                  <ul class="list-unstyled horizontal-list">
                    <li><a ng-href="#" ng-click="runQuery(query)"><i class="fa fa-share"></i> Run</a></li>
                  </ul>
                </span>
                <div class="list-group-item-meta">
                  <ul class="list-unstyled">
                    <li>Search Terms: {{query.digState.searchTerms | limitTo: 20}}{{query.digState.searchTerms.length > 20 ? '...' : ''}}</li>
                    <li>Created: {{query.createdAt | date:'MM/dd/yyyy HH:mm:ss'}}</li>
                    <li>Last Run: {{query.lastRunDate | date:'MM/dd/yyyy HH:mm:ss'}}</li>
                  </ul>
                </div>
              </span>
            </li>
            <li ng-show="notificationCount.notRunCount > 1" class="divider" ng-repeat-end></li>
          </ul>
        </li>
        <li><p class="navbar-text">Hello {{ getCurrentUser.username }}</p> </li>
        <li>
          <a href="#" class="dropdown-toggle" id="settingsMenu" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-cog">
          </a>
          <ul class="dropdown-menu" role="settingsMenu" aria-labelledby="settingsMenu">
            <li role="setting">
              <a role="menuitem" tabindex="-1" ng-href="#"  ng-click="changeBlur()">
                <span ng-if="isBlurred"><input type="checkbox" ng-checked="true"></span>
                <span ng-if="!isBlurred"><input type="checkbox" ng-checked="false"></span>
                Blur Images
              </a>
            </li>
            <li class="divider"></li>
            <li role="setting">
              <a role="menuitem" tabindex="-1" ng-href="#" ng-click="openAbout()">
                About DIG
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
