<div eui-aggregation="ejs.StatsAggregation(aggregationName).field(field)" eui-filter-self="false">
  <div eui-filter="ejs.RangeFilter(field).from(dateToString(filterStates[field].startDate))" eui-enabled="filterStates[field].startDate"></div> 
  <div eui-filter="ejs.RangeFilter(field).to(dateToString(filterStates[field].endDate))" eui-enabled="filterStates[field].endDate"></div>
  <div class="row">
    <div class="col-xs-12">
      <date-range start-date="filterStates[field].startDate" end-date="filterStates[field].endDate" 
        format="dateFormat" min="aggResult.min" max="aggResult.max">
      </date-range>
    </div>
  </div>
</div>
