<div ng-if="euiConfigs.postFields">
  <div class="row">
    <div class="col-xs-12">
      <label ng-if="euiConfigs.postFields['title']" class="post-label">{{euiConfigs.postFields['title']}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"> 
      <div class="posts">
        <ul class="post-list-group list-unstyled">
          <li class="post-list-item" ng-repeat="item in $eval(euiConfigs.postFields.field)">
            <span class="post-title" 
              ng-bind-html="highlightCheck($eval('item.' + euiConfigs.postFields['subject'][0].field), 
                euiConfigs.postFields['subject'][0].highlightArray)"></span>
            <div class="list-group-item-meta">
              <span ng-repeat="field in euiConfigs.postFields['short']">
                <strong><span class="to-lowercase" ng-bind="field.title + ':'"></span></strong>
                <span class="{{field.classes}}" 
                  ng-bind-html="highlightCheck($eval('item.' + field.field), $eval(field.highlightArray)) || 'N/A'">
                </span>
              </span>                
            </div>
            <span ng-repeat="field in euiConfigs.postFields['long'] track by $index">
              <span ng-bind-html="highlightCheck($eval('item.' + field.field), $eval(field.highlightArray))">
              </span>
              <hr ng-if="$index < euiConfigs.postFields['long'].length - 1">
            </span>
          </li>
        </ul> 
      </div>
    </div>
  </div>
</div>