.query-details {
    color: #034154;
}

.query-details label {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 10px;
    color: #7B7775;
}

.query-details dl {
    margin-bottom: 0px;
}

.query-options {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #7B7775;
}

.horizontal-list li {
    display: inline;
}

.query-result {
    cursor: pointer;
}

.query-result:hover {
    cursor: pointer;
    color: #034154;
}

.query-result:focus {
    outline: 0px solid transparent;
    color: #2a6496;
}

