.search-facet, .query-details li, select {
    color: #034154;
}

.query-details label {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 10px;
    color: #7B7775;
}

.query-details dl {
    margin-bottom: 0px;
}

.query-options {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #7B7775;
}

.horizontal-list li {
    display: inline;
}