<div class="modal-header">
  <h3 class="modal-title">Save Query</h3>
</div>
<div class="modal-body">
  <label>Previously saved queries:</label>
  <select ng-options="result.name for result in queryResults" size="10" ng-model="existingQuery" ng-change="updateName()">
    <option value="">--- choose query ---</option>
  </select>
  <br/><br/>
  <label>Name:</label><br/>
  <input type="text" ng-model="query.name">
<!--   <br/><br/>
<label>Frequency of Execution:</label><br/> 
<select ng-options="option for option in frequencyOptions" ng-model="query.frequency">
</select> -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()" value="Save" ng-disabled="query.name.length === 0">Save</button>
  <button class="btn btn-primary" ng-click="cancel()" value="Cancel">Cancel</button>
</div>