<div ui-view>
  <div class="column-header row">
    <div class="col-sm-1 select-global-checkbox text-center">
      <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
    </div>
    <span class="col-sm-3 selected-results">{{ getNumberSelected() }} item(s) selected</span>
    <h4 class="pull-right">
      <!-- <a href="#" class="header-icon visible-xs-inline-block" title="Open filter panel"><i class="fa fa-filter"></i></a> -->
      <strong>{{indexVM.results.hits.total | number:0}}</strong> results
    </h4>

  </div>

  <image-gallery></image-gallery>

  <div class="text-center">
    <ul class="list-unstyled">
    <li><pagination total-items="indexVM.results.hits.total" ng-show="indexVM.results.hits.total > 10"
    ng-model="indexVM.page" max-size="10" items-per-page="indexVM.pageSize"
    class="pagination-sm" num-pages="indexVM.pageCount" ng-change="onPageChange()"></pagination></li>
    <li ng-show="indexVM.results.hits.total > 0">Displaying page {{indexVM.page}} of {{indexVM.pageCount}}</li>
    </ul>
  </div>
</div>