<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid" eui-index="'dig'">

  <!-- query -->
  <div class="row">
    <div class="col-sm-12 list-group-item">
      <div class="row">
        <div class="col-sm-2">
          
        </div>
        <div class="col-sm-8">
        <div class="controls controls-search">
          <form ng-submit="submit()">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search ..." eui-query="ejs.MatchQuery('_all', querystring)" ng-model="querystring" eui-enabled="querystring.length"/>
            <span class="input-group-btn">
              <a href="#" class="btn btn-cancel-input" role="button" title="Clear search">&times;</a>
              <button class="btn btn-primary" type="button">Search</button>
            </span>
          </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="showresults">

    <div class="left-column hidden-xs col-sm-3 col-lg-2">

      <div class="column-header">
        <a href="#" class="text-danger pull-right"><i class="fa fa-times-circle"></i> Clear All</a>
        <h4>Filter</h4>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="text" eui-filter="ejs.TermsFilter('phonenumber', phone)" ng-model="phone" eui-enabled="phone.length">        
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> City/Region <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('city_agg').field('place_postalAddress').size(30)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('place_postalAddress', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> ETHNICITY <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('etn_agg').field('person_ethnicity').size(10)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('person_ethnicity', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> HAIR COLOR <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('hc_agg').field('person_haircolor').size(10)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('person_haircolor', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>


    </div>

    <div class="right-column col-sm-9">

      <div class="column-header">

        <div class="btn-group pull-right">
          <label>Sort by</label>
          <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
            Newest first
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">Newest first</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Oldest first</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Best match</a></li>
          </ul>
        </div>

        <h4>
<!--           <a href="#" class="header-icon visible-xs-inline-block" title="Open filter panel"><i class="fa fa-filter"></i></a> -->
          <strong>{{indexVM.results.hits.total}}</strong> results
        </h4>

      </div>


      <ul id="results" class="list-group">

        <li class="list-group-item" ng-repeat="doc in indexVM.results.hits.hits track by $index">
          <a href="#collapse1" class="list-group-item-heading collapsed" data-toggle="collapse" data-parent="#results">
          {{doc._source.hasTitlePart.text}}
            <div class="list-group-item-meta">
              <span class="date" title="09/08/2013 02:28:00">3 days ago</span>
              <span class="domain">website.com</span>
              <span class="location">Place, PA</span>
              <span class="phone">111-222-3333</span>
              <span class="name">Name(s)</span>
            </div>
          </a>
          <div id="collapse1" class="list-group-item-text collapse">
            <div class="row">
              <!-- ngIf: doc._source.hasImagePart -->
              <div class="col-md-3">
                <img class="image-thumb thumbnail" src="">
              </div>

              <div class="col-md-9">

                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium excepturi dolore id officiis blanditiis molestiae pariatur beatae, possimus sint iste vero labore in distinctio vel voluptates, nulla similique iusto.</h4>
                
                <div class="row">
                  <div class="col-sm-6">
                    <dl class="listing-details">

                      <dt>URL</dt>
                      <dd><a href="#" target="_blank">http://www.website.com/full-url</a></dd>

                      <dt>Address</dt>
                      <dd>Place, PA</dd>
                      <dd>22222</dd>

                      <dt>Phone Number</dt>
                      <dd>111-222-3333</dd>

                    </dl>
                  </div>
                  <div class="col-sm-6">
                    <dl class="person-details">

                      <dt>Name(s)</dt>
                      <dd>Name</dd>

                      <dt>Age</dt>
                      <dd>999</dd>

                      <dt>Ethnicity</dt>
                      <dd>White</dd>

                      <dt>Hair color</dt>
                      <dd>Color</dd>

                    </dl>
                  </div>
                </div>

                <button type="button" class="btn btn-primary"  target="_self">View Details</button>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="text-center">
        <pagination total-items="indexVM.results.hits.total" ng-show="indexVM.results.hits.total > 10"
        ng-model="indexVM.page" max-size="10" items-per-page="indexVM.pageSize" 
        class="pagination-sm" num-pages="indexVM.pageCount"></pagination>
        <p>Displaying page {{indexVM.page}} of {{indexVM.pageCount}}</p>
      </div>
    </div>

  </div>

</div>
