<div ui-view>
  <div class="column-header">

    <div class="btn-group pull-right">
      <label>Sort by</label>
      <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
        Newest first
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">Newest first</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Oldest first</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Best match</a></li>
      </ul>
    </div>

    <h4>
      <!-- <a href="#" class="header-icon visible-xs-inline-block" title="Open filter panel"><i class="fa fa-filter"></i></a> -->
      <strong>{{indexVM.results.hits.total}}</strong> results
    </h4>

  </div>


  <ul id="results" class="list-group">

    <li class="list-group-item" ng-repeat="doc in indexVM.results.hits.hits track by $index">
      <a href="#collapse{{$index}}" class="list-group-item-heading collapsed" data-toggle="collapse" data-parent="#results">
      {{doc._source.hasTitlePart.text}}
        <div class="list-group-item-meta">
          date: <span class="date">{{(doc._source.dateCreated | date:'MM/dd/yyyy HH:mm:ss') || "N/A"}}</span>
          <span class="domain">website.com</span>
          location: <span class="location">{{doc._source.hasFeatureCollection.place_postalAddress_feature.place_postalAddress || "n/a"}}</span>
          phone: <span class="phone">{{doc._source.hasFeatureCollection.phonenumber_feature.phonenumber || "N/A"}}</span>
          name(s): <span class="name">Name(s)</span>
        </div>
      </a>
      <div id="collapse{{$index}}" class="list-group-item-text collapse">
        <div class="row">
          <!-- ngIf: doc._source.hasImagePart -->
          <div class="col-md-3">
            <img class="image-thumb thumbnail" src="">
          </div>

          <div class="col-md-9">

            <h4>HELLO WORLD Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium accusantium excepturi dolore id officiis blanditiis molestiae pariatur beatae, possimus sint iste vero labore in distinctio vel voluptates, nulla similique iusto.</h4>
            
            <div class="row">
              <div class="col-sm-6">
                <dl class="listing-details">

                  <dt>URL</dt>
                  <dd><a href="#" target="_blank">http://www.website.com/full-url</a></dd>

                  <dt>Address</dt>
                  <dd>Place, PA</dd>
                  <dd>22222</dd>

                  <dt>Phone Number</dt>
                  <dd>111-222-3333</dd>

                </dl>
              </div>
              <div class="col-sm-6">
                <dl class="person-details">

                  <dt>Name(s)</dt>
                  <dd>Name</dd>

                  <dt>Age</dt>
                  <dd>999</dd>

                  <dt>Ethnicity</dt>
                  <dd>White</dd>

                  <dt>Hair color</dt>
                  <dd>Color</dd>

                </dl>
              </div>
            </div>

  <!--           <button type="button" class="btn btn-primary"  target="_self">View Details</button> -->
            <button type="button" class="btn btn-primary" ng-click="viewDetails(doc)" target="_self">View Details</button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="text-center">
    <pagination total-items="indexVM.results.hits.total" ng-show="indexVM.results.hits.total > 10"
    ng-model="indexVM.page" max-size="10" items-per-page="indexVM.pageSize" 
    class="pagination-sm" num-pages="indexVM.pageCount"></pagination>
    <p>Displaying page {{indexVM.page}} of {{indexVM.pageCount}}</p>
  </div>
</div>