

.sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 4px solid #eee;    
}

/* Images */

.displayed-image-container {
    height: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.displayed-image {
    display: block;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%; 
}

.image-thumb {
    display: block;
    width: auto;
    height: auto;
    max-height: 60px;
    max-width: 60px;
}

.image-expanded {
    display: block;
    width: auto;
    height: auto;
    max-height: 300px;
    max-width: 300px;
}

.thumbnail-gallery {
    margin: auto;
    display: block;
    padding-top: 10px;
    white-space: nowrap; 
    height: 95px;
    max-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
}