<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid" eui-index="'dig'"> 
  <div class="loading" ng-show="loading"></div>
  <!-- query -->
  <div class="row">
    <div class="col-sm-12 list-group-item">
      <div class="row">
        <div class="col-sm-2">
          <img src="/assets/images/HExIS-logo-50pxh.png" alt="" style="margin-top:8px;margin-left:10px">
        </div>
        <div class="col-sm-8">
        <div class="controls controls-search">
          <form ng-submit="submit()">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search ..." eui-query="ejs.MatchQuery('_all', queryString.submitted)" ng-model="queryString.live" eui-enabled="queryString.submitted.length" ng-disabled="loading"/>
            <span class="input-group-btn">
              <a href="#" class="btn btn-cancel-input" role="button" title="Clear search">&times;</a>
              <button class="btn btn-primary" type="submit">Search</button>
            </span>
          </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="showresults">

    <div class="left-column hidden-xs col-sm-3 col-lg-2">

      <div class="column-header">
        <a href="#" class="text-danger pull-right"><i class="fa fa-times-circle"></i> Clear All</a>
        <h4>Filter</h4>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="text" eui-filter="ejs.TermsFilter('phonenumber', phone)" ng-model="phone" eui-enabled="phone.length">        
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> City/Region <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('city_agg').field('place_postalAddress').size(30)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('place_postalAddress', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> ETHNICITY <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('etn_agg').field('person_ethnicity').size(10)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('person_ethnicity', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div> 
        <a href="#">More</a>
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> HAIR COLOR <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('hc_agg').field('person_haircolor').size(10)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('person_haircolor', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>

      <div class="form-group">
        <h5><i class="fa fa-chevron-down fa-fw"></i> AGE <a href="#" class="pull-right" title="Search values"><i class="fa fa-search"></i></a></h5>
        <div eui-or-filter eui-aggregation="ejs.TermsAggregation('age_agg').field('person_age').size(20)" eui-filter-self="false">
          <div class="checkbox" ng-repeat="bucket in aggResult.buckets">
            <label eui-filter="ejs.TermsFilter('person_age', bucket.key)">
              <input type="checkbox" ng-model="filter.enabled">{{bucket.key}}
            </label>
            <span class="badge pull-right">{{bucket.doc_count}}</span>
          </div>
        </div>
        <a href="#">More</a>
      </div>
        
    </div>
  
    <div class="right-column col-sm-9">
      <div ui-view></div> 
    </div>
  </div>
</div>
