

.sidebar {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 4px solid #eee;    
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.displayed-image {
    height: 400px;
    max-height: 400px;
    max-width: 100%;
}

.image-thumb {
    height: 100px;
    width: 100px;
}

.thumbnail-gallery {
    margin: auto;
    display: block;
    padding-top: 10px;
    white-space: nowrap; 
    height: 135px;
    max-width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
}

