<span class="post-title" 
  ng-bind-html="highlightCheck($eval('post.' + postFields['subject'][0].field), 
    $eval(postFields['subject'][0].highlightArray))"></span>
<div class="list-group-item-meta">
  <div class="row">
    <div class="col-sm-12">
      <span ng-repeat="field in postFields['short']['1']">
        <strong><span class="to-lowercase" ng-bind="field.title + ':'"></span></strong>
        <span ng-if="field.field !== 'plaintiff.name' && field.field !== 'defendant.name'">
          <span class="{{field.classes}}" 
          ng-bind-html="highlightCheck($eval('post.' + field.field), $eval(field.highlightArray)) || 'N/A'"></span>
        </span>&nbsp;&nbsp;&nbsp;
      </span>
    </div>
  </div>
  <div class="row">
    <span ng-repeat="field in postFields['short']['2']">
      <div class="col-sm-12" style="padding-top: 5px;">
        <strong><span class="to-lowercase" ng-bind="field.title + ':'"></span></strong><br/>
        <span ng-if="field.field === 'plaintiff.name'">
          <span ng-if="post.plaintiff.length" ng-repeat="plaintiff in post.plaintiff track by $index">
            {{plaintiff.name}}<span ng-if="$index + 1 < post.plaintiff.length"><br/></span>
          </span>
          <span ng-if="!post.plaintiff.length">
            <span class="{{field.classes}}" 
            ng-bind-html="highlightCheck($eval('post.' + field.field), $eval(field.highlightArray)) || 'N/A'"></span>
          </span>
        </span>
        <span ng-if="field.field === 'defendant.name'">
          <span ng-if="post.defendant.length" ng-repeat="defendant in post.defendant track by $index">
            {{defendant.name}}<span ng-if="$index + 1 < post.defendant.length"><br/></span>
          </span>
          <span ng-if="!post.defendant.length">
            <span class="{{field.classes}}" 
            ng-bind-html="highlightCheck($eval('post.' + field.field), $eval(field.highlightArray)) || 'N/A'"></span>
          </span>
        </span>
      </div>
    </span>
  </div>
</div>
<span ng-if="postFields.body">
  <span ng-bind-html="highlightCheck($eval('post.' + postFields.body.field), 
  $eval(postFields.body.highlightArray))"></span>
</span>