<span ng-if="euiConfigs.threadFields && doc._type === 'patents'">
  <div class="row">
    <div class="col-md-12">
      <h4>
        <span ng-bind-html="$eval(euiConfigs.threadFields['title'][0].field) || 'N/A'"></span>
      </h4>
      <div class="row">
        <div class="col-sm-4">
          <display-desc-list doc="doc" section="euiConfigs.threadFields['full']['1']"></display-desc-list>
        </div>
        <div class="col-sm-8">
          <display-desc-list doc="doc" section="euiConfigs.threadFields['full']['2']"></display-desc-list>
        </div>
        <div class="col-sm-12">
          <display-desc-list doc="doc" section="euiConfigs.threadFields['full']['3']"></display-desc-list>
        </div>
      </div>
    </div>
  </div>
  <button ng-if="euiConfigs.detailFields" type="button" class="btn btn-primary" 
    ng-click="viewDetails(doc, parentState)" target="_self">
    View Details
  </button>
</span>